/* root css */
:root {
  --sizeH1: 44px;
  --sizeH2: 36px;
  --sizeH3: 32px;
  --sizeH4: 26px;
  --sizeH5: 20px;
  --sizeH6: 14px;
  --sizeP: 16px;
}
/* Common css */

/* bg  */
.bg-blue {
  background-color: var(--blue);
}
.bg-grey {
  background-color: var(--grey);
}
.bg-brown {
  background-color: var(--brown);
}
.bg-white {
  background-color: var(--white);
}
.bg-azure {
  background-color: var(--azure);
}

.bg-sky {
  background-color: var(--sky);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-mustard {
  background-color: var(--mustard);
}

.bg-eggBlue {
  background-color: var(--eggBlue);
}

/* end bg  */

/* shadow */

.bg-shadow {
  box-shadow: 0px 15px 50px #0000001a;
}

/* End shadow */

/* text color */

.text-blue-500 {
  color: var(--textBlue500);
}
.text-blue-400 {
  color: var(--textBlue400);
}
.text-blue-300 {
  color: var(--textBlue300);
}
.text-blue-200 {
  color: var(--textBlue200);
}
.text-blue-100 {
  color: var(--textBlue100);
}

.text-sky-500 {
  color: var(--textSky500);
}
.text-sky-400 {
  color: var(--textSky400);
}
.text-sky-300 {
  color: var(--textSky300);
}
.text-sky-200 {
  color: var(--textSky200);
}
.text-sky-100 {
  color: var(--textSky100);
}

.text-black-500 {
  color: var(--textBlack500);
}
.text-black-400 {
  color: var(--textBlack400);
}
.text-black-300 {
  color: var(--textBlack300);
}
.text-black-200 {
  color: var(--textBlack200);
}
.text-black-100 {
  color: var(--textBlack100);
}

.text-grey-500 {
  color: var(--textGrey500);
}
.text-grey-400 {
  color: var(--textGrey400);
}
.text-grey-300 {
  color: var(--textGrey300);
}
.text-grey-200 {
  color: var(--textGrey200);
}
.text-white {
  color: var(--textGrey100);
}

.text-yellow {
  color: var(--yellow);
}
.text-red {
  color: var(--red);
}
.text-grey {
  color: var(--grey);
}
p:last-child {
  margin-bottom: 0;
}

/* end text color */

/* End Common css */

/* Header */

/* Top header */
.row-gap {
  margin-left: calc(var(--gap) * -1);
  margin-right: calc(var(--gap) * -1);
}

.row-gap > div {
  padding-right: calc(var(--gap) * 1);
  padding-left: calc(var(--gap) * 1);
}
.top-header p {
  color: var(--text-white);
  font-size: 13px;
  letter-spacing: 0.26px;
}

.top-header {
  padding: 7px 0;
}

.top-header p a {
  font-weight: bold;
  color: var(--text-white);
}

.top-header i {
  color: var(--text-white);
  font-weight: normal;
  margin-right: 10px;
  font-size: 25px;
}

/* End Top header */

.left-menu,
.right-menu {
  width: 40%;
}

.center-menu {
  width: 20%;
}

nav.navbar ul li {
  list-style: none;
}
nav.navbar ul .nav-item {
  font-size: 16px;
  font-weight: bold;
  margin-right: 33px;
}
nav.navbar ul.navbar-nav {
  margin-left: -9px;
}
nav.navbar ul li .nav-link {
  padding: 9px 12px;
  display: inline-block;
  border-radius: 8px;
  color: var(--navy);
  transition: 0.5s;
}
nav.navbar ul li:hover .nav-link {
  background-color: #f3f4f4;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--blue);
}
.sub-big-menu {
  position: absolute;
  width: 100%;
  background-color: var(--text-white);
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.navbar-light .navbar-nav li:hover .sub-big-menu {
  opacity: 1;
  visibility: visible;
}
.category-shop {
  width: 60%;
}

.category-shop ul,
.category-pet ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -10px;
}

.category-shop ul li {
  width: 33.33%;
  padding: 0 10px;
}

.category-shop img {
  height: 240px;
  object-fit: contain;
  object-position: center;
  width: 100%;
  transform: scale(0.95);
  transition: 0.5s;
}

.category-shop a {
  display: inline-block;
  width: 100%;
  background-color: #f3f3f3;
  padding: 0;
  border-radius: 8px;
  text-decoration: none;
}

.category-shop h5 {
  font-size: 18px;
  text-transform: none;
  font-weight: bold;
  margin: 20px;
  margin-bottom: 10px;
}

.category-shop li:hover h5 {
  color: var(--sky);
}

.category-shop li:hover img {
  transform: scale(1);
}

.title-secondry h4:after {
  content: "\e901";
  font-family: "tartar_shield";
  display: inline-block;
  vertical-align: baseline;
  margin-left: 15px;
  position: relative;
  bottom: -10px;
}

.title-secondry h4 {
  position: relative;
  display: inline-block;
}

.sub-big-menu > div {
  padding: 0 20px;
}

.sub-big-menu {
  margin: 0 -20px;
}

nav.navbar {
  padding: 0;
}
.center-menu {
  position: relative;
  top: -16px;
}
.center-menu img {
  display: inline-block;
  width: 100%;
  max-width: 170px;
}
.category-pet {
  width: 40%;
}
.category-pet ul li {
  width: 50%;
}
.category-pet a {
  text-decoration: none;
}
.category-pet h6 {
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  margin: 20px 0 0;
}
.category-pet img {
  height: 182px;
  width: 100%;
  object-fit: contain;
  object-position: center;
  transition: 0.5s;
}

.category-pet li:hover img {
  transform: translateY(-5px);
}

.navbar-icons li {
  margin-left: 25px;
}

.navbar-icons li:first-child {
  margin-left: 0;
}

nav.navbar ul .nav-item li {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
}

nav.navbar ul .nav-item > ul {
  padding: 20px;
  position: absolute;
  min-width: 170px;
  opacity: 0;
  visibility: hidden;
}
nav.navbar ul .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
}

nav.navbar ul .nav-item li:last-child {
  margin-bottom: 0;
}
nav.navbar ul .nav-item.nav-dropdown li a {
  color: var(--textBlue400);
  position: relative;
  padding-bottom: 3px;
}

nav.navbar ul .nav-item.nav-dropdown li a:after {
  position: absolute;
  width: 0;
  height: 2px;
  border-radius: 100px;
  background-color: var(--sky);
  content: "";
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

nav.navbar ul .nav-item.nav-dropdown li:hover a:after {
  width: 100%;
}

.search-box {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: var(--text-white);
  padding: 10px;
}
.search-box .form-group .form-control {
  box-shadow: none;
  padding: 20px;
  height: auto;
  font-size: 16px;
}

.search-box .form-group .form-control::placeholder {
  color: var(--textBlue400);
  opacity: 0.6;
}

.search-box .form-group {
  display: flex;
  align-items: center;
}

.search-box .form-group button {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}
.close-icon {
  cursor: pointer;
}

.cart-view i {
  font-size: 34px;
}

ul.navbar-nav.navbar-icons {
  align-items: center;
}

/* Home slider */

.home-section .container {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.home-section {
  position: relative;
}

.home-slider.swiper {
  padding-left: 15px;
}
.home-slider h1 {
  font-weight: bold;
  margin-bottom: 30px;
}

.home-slider p {
  margin-bottom: 30px;
}

.btn-group {
  margin: 30px 0;
}

.btn-group a {
  margin-right: 22px;
}

.swiper-slide.home-content.swiper-slide-active.swiper-slide-next {
  overflow: visible;
}
/* End Home Slider */

.home-slider h1 {
  font-weight: bold;
  margin-bottom: 30px;
}

.home-slider p {
  margin-bottom: 30px;
}

.btn-group {
  margin: 30px 0;
}

.btn-group a {
  margin-right: 22px;
}

.swiper-slide.home-content.swiper-slide-active.swiper-slide-next {
  overflow: visible;
}

.home-slider {
  overflow: visible;
}

.brand-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.brand-content h6 {
  width: 20%;
  font-weight: bold;
}

.brand-slider {
  width: 80%;
}

.mt-80 {
  margin-top: 80px;
}

.brand-slider .swiper-wrapper {
  align-items: center;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.title-sect h3,
.title-sect h2 {
  font-weight: bold;
  margin-bottom: 0;
}

.title-sect {
  margin: 0 auto 50px;
  max-width: 868px;
}
.text-white h3,
.text-white h2 {
  color: #ffffff;
}
.title-sect h6 {
  color: #38b6ff;
  letter-spacing: 1.12px;
  font-weight: bold;
}

.title-sect p {
  margin: 16px 0 0;
}

.service-box img {
  margin-bottom: 30px;
}

.service-section .btn {
  margin-top: 45px;
}

.collection-box {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.collection-box img {
  aspect-ratio: 410/495;
}

.collection-content {
  position: absolute;
  top: 0;
  max-width: 310px;
  width: 100%;
  padding: 40px 25px;
  padding-right: 0;
}

.collection-content h4,
.collection-content p,
.collection-content .text-btn {
  color: #ffffff;
}

.collection-content h4 {
  font-weight: bold;
  margin-bottom: 10px;
}
.bestseller-slider {
  margin-top: -10px;
  padding-top: 10px;
}
.bestseller-box {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 30px;
  transition: 0.5s;
}
.bestseller-slider .swiper-slide .bestseller-box:hover {
  transform: translateY(-10px);
}

i.icon-star {
  color: #ffd839;
  font-size: 16px;
}
.bestseller-img img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.bestseller-content h6 a {
  color: #13294b;
}

.bestseller-content h6 {
  text-transform: none;
  font-weight: 600;
  font-size: var(--sizeP);
  margin-bottom: 0;
}

.start-rating {
  margin-bottom: 15px;
}
.bestseller-section .title-sect {
  max-width: 100%;
}
.bestseller-content p {
  margin-top: 7px;
  margin-bottom: 0;
}

.bestseller-content .btn {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
}

.blog-slider .swiper-wrapper .swiper-slide {
  height: auto;
}

.bestseller-content .btn:before {
  transform: scale(1) !important;
}

.bestseller-content .btn:after {
  content: "";
  width: 0;
  background-color: var(--textBlue400);
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 8px;
  transition: 0.5s;
}

.bestseller-content .btn:hover:after {
  width: 100%;
}

.bestseller-content .btn:hover {
  color: #ffffff;
}

.bestseller-content {
  display: block;
  margin-top: 30px;
}

.leftrigh-img img:first-child {
  aspect-ratio: 525/622;
  width: 80%;
  object-fit: cover;
  border-radius: 30px;
}

.leftrigh-img img:last-child {
  aspect-ratio: 303/372;
  width: 48%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 30px;
}

.leftrigh-img {
  padding-bottom: 80px;
  position: relative;
}

.leftrigh-section a.btn {
  margin-top: 30px;
}

.leftrigh-section .title-sect {
  margin: 0;
  padding: 80px 30px;
  padding-right: 60px;
  background-color: #f3f4f4;
  border-radius: 0 30px 30px 0;
  position: relative;
}

.leftrigh-section .title-sect h6 {
  margin-bottom: 11px;
}

.leftrigh-section .title-sect p {
  margin: 25px 0 0;
}
.leftrigh-section .title-sect:before {
  background-color: #f3f4f4;
  width: 100%;
  left: -100%;
  top: 0;
  height: 100%;
  position: absolute;
  content: "";
  z-index: -1;
}

.leftrigh-section .title-sect:after {
  background-image: url(../img/Rawhide.png);
  max-width: 251px;
  right: -70px;
  top: -40px;
  height: 172px;
  position: absolute;
  content: "";
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.review-section {
  background-color: #13294b;
  border: 10px solid #38b6ff;
  border-left: 0;
  border-right: 0;
}

.review-hellow h2 {
  color: #ffffff;
  width: 150px;
  text-align: center;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: 44px;
  border-radius: 100px;
  line-height: 1;
  position: absolute;
  left: 5px;
  top: 0;
  font-family: var(--secondry_fonts);
  background-image: url(../img/yellow-round.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.review-hellow h2 small {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
}

.review-hellow {
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 70px;
  position: relative;
}

.review-text p,
.review-text h6 {
  color: #ffffff;
}

.review-text h6 {
  font-size: var(--sizeP);
  margin: 40px 0 0;
}

.review-opinion h4 {
  color: #ffde59;
  font-family: var(--secondry_fonts);
  margin-top: 34px;
  margin-bottom: 20px;
}

.review-product {
  padding: 20px 25px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.review-product img {
  width: 150px;
  margin-right: 50px;
}

.review-product h6 {
  text-transform: none;
  font-size: var(--sizeP);
  font-weight: 600;
  margin-bottom: 5px;
}

.review-product p {
  margin-bottom: 20px;
}

.review-hellow img.w-100 {
  aspect-ratio: 394/495;
  object-fit: cover;
  border-radius: 8px;
}

.blog-box img {
  object-fit: cover;
  aspect-ratio: 410/230;
}

.blog-box {
  border-radius: 30px;
  overflow: hidden;
  background-color: #e9e9e9;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.blog-content h4 {
}

.blog-content {
  padding: 30px;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.blog-content p {
  font-size: var(--sizeH6);
}

.blog-content h5 {
  font-weight: bold;
}

.blog-content .text-btn {
  margin-top: auto;
}

.blog-content .text-btn,
.bestseller-section .text-btn {
  color: var(--textBlue400);
}

.blog-section .btn {
  margin-top: 60px;
}
.text-btn.text-primary:after {
  content: "\e905";
  font-family: "tartar_shield" !important;
  margin-left: 8px;
}

.instagram-slider.swiper {
  padding: 85px 150px;
  margin: -50px 0;
}
.instagram-slider .swiper-slide:nth-child(2n + 2) {
  margin-top: 20px;
  transition: 0.5s;
}

.instagram-slider .swiper-slide:nth-child(1):before {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  background-image: url(../img/insta-icon-1.svg);
  background-repeat: no-repeat;
  width: 68px;
  height: 62px;
  top: -58px;
  left: -10px;
  background-size: contain;
}

.instagram-slider .swiper-slide:nth-child(1):after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  background-image: url(../img/insta-icon-7.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  bottom: -28px;
  right: -24px;
  background-size: contain;
}

.instagram-slider .swiper-slide:nth-child(4):before {
  content: "";
  position: absolute;
  background-image: url(../img/insta-icon-5.svg);
  background-repeat: no-repeat;
  width: 68px;
  height: 56px;
  bottom: -55px;
  left: -20px;
  background-size: contain;
}

.instagram-slider .swiper-slide:nth-child(4):after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  background-image: url(../img/insta-icon-6.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 66px;
  top: -29px;
  right: -24px;
  background-size: contain;
}

.instagram-slider .swiper-slide:nth-child(5):after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  background-image: url(../img/insta-icon-2.svg);
  background-repeat: no-repeat;
  width: 76px;
  height: 76px;
  top: -75px;
  left: 10px;
  background-size: contain;
}
.instagram-slider .swiper-slide:nth-child(6):after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  background-image: url(../img/insta-icon-4.svg);
  background-repeat: no-repeat;
  width: 68px;
  height: 55px;
  bottom: -75px;
  right: 10px;
  background-size: contain;
}

/* Swiper Arrow */

.swiper .swiper-scrollbar.swiper-scrollbar-horizontal {
  position: relative;
  top: 0;
  left: 0;
}

.swiper-arrows {
  display: flex;
  padding-left: 25px;
  margin: 0 -5px;
}

.swiper-icons {
  display: flex;
  align-items: center;
  margin-top: 65px;
}

.swiper-arrows .swiper-button-prev,
.swiper-arrows .swiper-button-next {
  width: 40px;
  height: 40px;
  border: 1px solid #13294b;
  font-size: 12px;
  padding: 10px;
  border-radius: 100px;
  position: static;
  margin: 0 5px;
}
.swiper-arrows .swiper-button-prev {
  transform: rotate(180deg);
}
.swiper-arrows .swiper-button-prev:after,
.swiper-arrows .swiper-rtl .swiper-button-next:after,
.swiper-arrows .swiper-button-next:after,
.swiper-arrows .swiper-rtl .swiper-button-prev:after {
  content: "\e905";
  font-family: "tartar_shield" !important;
  font-size: 12px;
  color: #13294b;
}

.swiper-arrows .swiper-button-prev.swiper-button-disabled,
.swiper-arrows .swiper-button-next.swiper-button-disabled {
  opacity: 0.25;
}
.swiper-arrows .swiper-button-next {
  right: 0;
}

.swiper .swiper-scrollbar.swiper-scrollbar-horizontal {
  background-color: transparent;
}

.swiper .swiper-scrollbar.swiper-scrollbar-horizontal:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #13294b;
  position: absolute;
  left: 0;
  top: 1px;
  z-index: 0;
  opacity: 0.1;
  border-radius: 100px;
}

.swiper .swiper-scrollbar-drag {
  height: 4px;
  background-color: #13294b;
}

.review-slider.swiper .swiper-scrollbar.swiper-scrollbar-horizontal:before,
.review-slider.swiper .swiper-scrollbar-drag {
  background-color: #ffffff;
}
.review-slider .swiper-arrows .swiper-button-prev,
.review-slider .swiper-arrows .swiper-button-next {
  border-color: #ffffff;
}

.review-slider .swiper-arrows .swiper-button-prev:after,
.review-slider .swiper-arrows .swiper-rtl .swiper-button-next:after,
.review-slider .swiper-arrows .swiper-button-next:after,
.review-slider .swiper-arrows .swiper-rtl .swiper-button-prev:after {
  color: #ffffff;
}
/* End Swiper Arrrow */

/* Product Page */

.swiper.thumbsSlider {
  width: 60px;
  height: 300px;
  margin: 0;
}

.productintroSlider {
  width: calc(100% - 160px);
  margin: 0;
}

.product-intro-grp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-title h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

p.product-count {
  font-weight: 500;
  margin-bottom: 0;
}

.product-review .start-rating,
.product-review h6 {
  margin: 0;
}

.product-review .start-rating {
  margin-right: 10px;
}
hr.prob {
  margin: 25px 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #d9d9da;
}
.product-price {
  border: 1px solid #13294b;
  border-radius: 8px;
  overflow: hidden;
}

.price-block .price-list {
  padding: 25px;
}

.price-block {
  position: relative;
  border-bottom: 1px solid #13294b;
}

.price-block .price-list h6 {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 40px;
  font-weight: bold;
  margin: 0;
  text-transform: none;
}

.price-block input {
  position: absolute;
  width: 100%;
  height: 60px;
  opacity: 0;
  top: 4px;
  z-index: 99;
  cursor: pointer;
}

.price-block .price-list h6:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #13294b;
  border-radius: 100px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.price-block .price-list h6:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #13294b;
  border-radius: 100px;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.discountTag {
  background-color: #ffa500;
  color: #ffffff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
  margin-left: 14px;
  font-size: 11px;
  font-weight: bold;
}

.price-block:last-child {
  border: 0;
}

select.delivery-dropdown {
  padding: 12px 16px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #13294b;
  font-size: 14px;
  font-weight: bold;
  color: #13294b;
  display: none;
}

.price-list p {
  color: #13294b;
  font-size: 13px;
  margin-top: 10px;
}

.price-block input:checked + .price-list {
  background-color: #ffffff;
}

.price-block input:checked + .price-list select.delivery-dropdown {
  display: block;
}

.price-block input:not(:checked) + .price-list p,
.price-block input:not(:checked) + .price-list h6 {
  color: #717e93;
}

.price-block input:not(:checked) + .price-list h6:before,
.price-block input:not(:checked) + select.delivery-dropdown {
  border-color: #717e93;
}

.price-block input:checked + .price-list h6:after {
  opacity: 1;
}

.quantity-nav {
  max-width: 105px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #13294b;
  padding: 14px 15px;
  border-radius: 8px;
}

.quantity-nav input[type="number"] {
  width: 50px;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 0;
  margin: 0;
  outline: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.quantity-button {
  font-size: 24px;
  line-height: 1;
}

.product-buy {
  display: flex;
  margin: 25px 0;
  width: 100%;
}

.product-buy > div:last-child {
  width: calc(100%);
  padding-left: 15px;
  text-align: center;
}

.product-buy > div:last-child .btn {
  width: 100%;
  padding: 19px 30px;
}

.made-in h6 {
  font-weight: 600;
  text-transform: none;
}

.text-block h5 {
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 35px;
}

.text-block p {
  margin-bottom: 35px;
}

.text-block h5:first-child {
  margin-top: 0;
}
.aspect-1 img {
  aspect-ratio: 1/1;
  border-radius: 30px;
  overflow: hidden;
  max-width: 100%;
}

.why-use {
  background-color: #13294b;
  border: 10px solid #38b6ff;
  border-left: 0;
  border-right: 0;
}

.health-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  height: 100%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.health-block {
  display: flex;
  flex-wrap: wrap;
}

.health-box img {
  aspect-ratio: 1/1;
  max-width: 205px;
  margin: 0 auto 25px;
  width: 100%;
}

.health-box h6 {
  color: #38b6ff;
  font-weight: bold;
  margin-bottom: 12px;
}

.why-use .title-sect {
  position: relative;
  padding: 60px;
  background-image: url(../img/foot_print.png);
  background-repeat: no-repeat;
  background-size: 260px;
  background-position: center left;
}

.accordion .card {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #13294b;
}

.accordion .card-header h5 {
  font-weight: bold;
  padding-right: 30px;
  position: relative;
  cursor: pointer;
}
.accordion .card-header h5:after {
  content: "+";
  margin-left: auto;
  position: absolute;
  right: 0;
  color: #13294b;
  width: 36px;
  height: 36px;
  border: 1px solid #13294b;
  text-align: center;
  line-height: 36px;
  border-radius: 100px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 500;
}

.accordion .card .collapse {
  margin-top: 25px;
}

.card-review {
  padding: 60px;
  background-color: #ffffff;
  border-radius: 30px;
}

.review-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.review-header h3 {
  font-weight: bold;
  margin-bottom: 18px;
}

.review-star {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.review-star h2 {
  margin: 0;
  padding-right: 20px;
  font-weight: bold;
  font-size: 56px;
}

.review-star h6 {
  text-transform: none;
}

li.review-li {
  list-style: none;
  padding-top: 45px;
  margin-top: 45px;
  border-top: 1px solid #e5e5e6;
}

.card-review ul {
  padding: 0;
  list-style: none;
}

.reviewr-profile {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  margin-right: 20px;
}

.reviewr-name {
  position: relative;
  width: 30%;
  display: flex;
  align-items: center;
  height: 100%;
}

.reviewr-name h6,
.reviewr-text h6 {
  font-weight: bold;
}

.reviewr-name p,
.reviewr-name p i.icon-location {
  font-size: 10px;
  text-transform: uppercase;
}

.reviewr-name p i.icon-location {
  margin-right: 4px;
}

.review-box {
  display: flex;
  flex-wrap: wrap;
}

.reviewr-text {
  width: 70%;
}

.reviewr-text ul {
  display: flex;
  justify-content: space-between;
}

.reviewr-text h6 {
  margin-bottom: 10px;
}
.reviewr-text p {
  font-size: var(--sizeH6);
}

.reviewr-text .start-rating {
  margin-bottom: 20px;
}

li.review-li:last-child {
  padding-bottom: 45px;
  margin-bottom: 45px;
  border-bottom: 1px solid #e5e5e6;
}

/* End Product Page */

/* Footer */

footer {
  background-color: #13294b;
  border-top: 10px solid #38b6ff;
  padding-bottom: 30px;
}

.hr {
  padding-top: 80px;
  margin-bottom: 80px;
  border-bottom: 1px solid #ffffff;
  opacity: 0.4;
}

.footer-title p {
  color: #ffffff;
}

.footer-title h4 {
  color: #ffde59;
}

.footer-title {
  position: relative;
  padding-left: 152px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-title img {
  width: 112px;
  position: absolute;
  left: 0;
}

.footer-newsletter {
  text-align: right;
}

.footer-newsletter form {
  max-width: 414px;
  width: 100%;
  margin-left: auto;
}

.form-group {
  width: 100%;
}

.footer-newsletter input[type="search"] {
  width: 100%;
  height: 53px;
  padding: 15px 20px;
  border-radius: 8px;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #ffffff;
  box-shadow: inset 0 0 0 1px #ffffff;
}
.footer-newsletter input[type="search"]::placeholder {
  color: #ffffff;
}
.footer-newsletter input[type="submit"] {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 15px 30px;
  text-align: center;
  color: #ffffff;
  background-color: #38b6ff;
  border-radius: 0 8px 8px 0;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.65px;
}

.footer-block h6 {
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}

.center-footer .footer-block li {
  font-size: 14px;
  margin-bottom: 15px;
}

.center-footer .footer-block li a,
.center-footer .footer-block li i {
  color: #ffffff;
  font-weight: normal;
}

.center-footer .footer-block ul {
  padding: 0;
  margin: 20px 0 0;
}

.footer-block li i {
  font-size: 16px;
  margin-right: 12px;
}

.bottom-footer p,
.bottom-footer a {
  font-size: 12px;
  color: #ffffff;
  font-weight: normal;
  line-height: 18px;
}
.bottom-footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  justify-content: end;
}

.bottom-footer {
  margin-top: 60px;
}

.bottom-footer ul li {
  margin-left: 8px;
  line-height: 1;
}

.bottom-footer ul li:first-child {
  margin-left: 0;
}

/* End Footer */

@media screen and (max-width: 1499px) {
  .leftrigh-section .title-sect:after {
    max-width: 171px;
    right: -40px;
    top: -40px;
    height: 122px;
  }
}
@media screen and (max-width: 1199px) {
  :root {
    --sizeH1: 36px;
    --sizeH2: 30px;
    --sizeH3: 26px;
    --sizeH4: 20px;
    --sizeH5: 16px;
    --sizeH6: 12px;
    --sizeP: 14px;
  }

  .top-header p {
    font-size: 11px;
  }

  .left-menu,
  .right-menu {
    width: 42%;
  }

  .center-menu {
    width: 16%;
  }

  nav.navbar ul .nav-item {
    font-size: 14px;
    margin-right: 20px;
  }
  .navbar-icons li {
    margin-left: 20px;
  }
  nav.navbar ul li .nav-link {
    padding: 8px 10px;
  }

  .category-shop h5 {
    font-size: 14px;
    margin: 10px;
    margin-bottom: 5px;
  }
  .category-shop img {
    height: 160px;
  }
  .category-pet img {
    height: 92px;
  }
  .category-pet h6 {
    font-size: 12px;
    margin: 15px 0 0;
  }

  .collection-content {
    max-width: 180px;
    width: 100%;
    padding: 20px 15px;
  }

  .home-slider h1 {
    margin-bottom: 20px;
  }

  .btn-group {
    margin: 20px 0;
  }

  .home-slider p {
    margin-bottom: 20px;
  }

  .mb-80 {
    margin-bottom: 50px;
  }

  .mt-80 {
    margin-top: 50px;
  }

  .pb-80 {
    padding-bottom: 50px;
  }

  .pt-80 {
    padding-top: 50px;
  }

  .title-sect {
    margin-bottom: 40px;
    max-width: 690px;
  }

  .service-box img {
    margin-bottom: 20px;
    width: 70px;
  }

  .service-section .btn {
    margin-top: 25px;
  }

  .leftrigh-section .title-sect {
    padding: 30px 20px;
  }

  .leftrigh-section .title-sect p {
    margin-top: 15px;
  }

  .leftrigh-section a.btn {
    margin-top: 15px;
  }

  .review-text h6 {
    margin-top: 20px;
  }

  .review-opinion h4 {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .review-product img {
    width: 100px;
    margin-right: 16px;
  }

  .review-product {
    padding: 15px;
  }

  .review-product p {
    margin-bottom: 10px;
  }

  .review-hellow h2 {
    font-size: 30px;
    width: 120px;
    height: 120px;
  }

  .review-hellow h2 small {
    font-size: 14px;
  }

  .swiper-icons {
    margin-top: 40px;
  }

  .blog-content {
    padding: 21px;
  }

  .blog-section .btn {
    margin-top: 40px;
  }

  .hr {
    padding-top: 60px;
    margin-bottom: 60px;
  }

  .bottom-footer {
    margin-top: 40px;
  }

  footer {
    padding-bottom: 20px;
  }

  .center-footer .footer-block li {
    font-size: 12px;
    margin-bottom: 12px;
  }

  .footer-block h6 {
    font-size: 10px;
  }

  .center-footer .footer-block ul {
    margin-top: 15px;
  }

  .footer-block li i {
    font-size: 14px;
    margin-right: 10px;
  }
  .instagram-slider .swiper-slide:after,
  .instagram-slider .swiper-slide:before {
    transform: scale(0.7);
  }
  .instagram-slider.swiper {
    padding: 65px 80px;
    margin: -50px 0;
  }

  .why-use .title-sect {
    padding: 50px;
  }
  .card-review {
    padding: 30px;
  }
}

@media screen and (max-width: 991px) {
  .mobile-header {
    padding: 10px 0 0;
  }

  .center-menu {
    top: -5px;
    width: 120px;
  }

  .left-menu,
  .right-menu {
    width: calc(50% - 120px);
  }

  .menu-open {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: calc(100vh - 102px);
  }

  nav.navbar ul.navbar-nav {
    margin: 0;
  }
  nav.navbar .menu-open ul.navbar-nav {
    width: 100%;
  }
  nav.navbar ul .nav-item a {
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e6;
    width: 100%;
    border-radius: 0;
  }

  nav.navbar ul .nav-item {
    font-size: 17px;
    margin-right: 0;
    position: relative;
  }

  .nav-arrow:after {
    content: "\e905";
    font-family: "tartar_shield" !important;
    position: absolute;
    right: 0;
    top: 20px;
  }

  .nav-arrow > div > h5:after {
    content: "\e905";
    font-family: "tartar_shield" !important;
    position: absolute;
    left: 0;
    top: 20px;
    transform: rotate(-180deg);
  }

  nav.navbar ul .nav-item:last-child a {
    border-bottom: 0;
  }

  .link-menu ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .link-menu li {
    width: 100%;
    font-size: 15px;
    padding-top: 24px;
  }

  .social-icon li {
    margin-right: 18px;
  }

  .social-icon ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 40px 0;
  }

  .link-menu li a {
    color: #13294b;
  }

  .menu-footer {
    background-color: #f3f4f4;
    padding: 0 15px;
    margin: auto -15px 0;
    width: calc(100% + 30px);
  }
  .sub-big-menu {
    z-index: 1;
  }

  .category-shop {
    width: 100%;
  }

  .category-shop ul li {
    width: 100%;
  }

  nav.navbar ul .nav-item .category-shop a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
    border-radius: 8px;
  }

  .category-shop img {
    width: 50%;
  }

  .category-shop h5 {
    width: 50%;
  }

  .sub-big-menu h5,
  .category-shop h5,
  .nav-arrow > div > h5 {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
  }

  .sub-big-menu > h5,
  .nav-arrow > div > h5 {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #707070;
    margin-bottom: 20px;
  }

  .nav-arrow:after {
    content: "\e905";
    font-family: "tartar_shield" !important;
  }

  .nav-arrow > div > h5 {
    position: relative;
  }

  nav.navbar ul .nav-item li {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 40px;
  }
  nav.navbar ul .nav-item.nav-dropdown li a {
    border: 0;
    padding-bottom: 0;
  }
  nav.navbar ul .nav-arrow ul {
    margin: 0;
    padding: 0;
  }

  .home-content {
    text-align: center;
  }
  .home-section .container {
    top: 10%;
    transform: translateY(0%);
  }

  .home-slider.swiper {
    padding-left: 0;
  }

  .brand-content h6 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .mb-80 {
    margin-bottom: 40px;
  }

  .mt-80 {
    margin-top: 40px;
  }

  .pb-80 {
    padding-bottom: 40px;
  }

  .pt-80 {
    padding-top: 40px;
  }

  .service-box {
    margin-bottom: 30px;
  }

  .collection-box {
    margin-bottom: 20px;
  }

  .leftrigh-img img:first-child {
    aspect-ratio: 355/602;
    width: 100%;
  }

  .leftrigh-img img:last-child {
    aspect-ratio: 273/302;
    width: 60%;
  }

  .review-hellow {
    padding-right: 0;
    padding-left: 20px;
  }

  .review-hellow h2 {
    width: 100px;
    height: 100px;
  }

  .review-content {
    margin-top: 40px;
  }

  .start-rating {
    margin-bottom: 20px;
  }

  .review-text h6 {
    margin-top: 40px;
  }

  .brand-slider .swiper-slide {
    padding: 0 30px;
  }

  .brand-slider .swiper-slide img {
    width: 100%;
  }
  .instagram-slider.swiper {
    padding: 50px 0;
  }
  .instagram-slider .swiper-slide:nth-child(6):after {
    bottom: -45px;
    width: 48px;
    height: 48px;
  }
  .instagram-slider .swiper-slide:nth-child(5):after {
    width: 48px;
    height: 48px;
    top: -40px;
  }
  .instagram-slider .swiper-slide:nth-child(4):after {
    width: 50px;
    height: 50px;
    top: -24px;
    right: -20px;
  }
  .instagram-slider .swiper-slide:nth-child(4):before {
    width: 46px;
    height: 46px;
    bottom: -40px;
  }
  .footer-title img {
    width: 80px;
  }

  .footer-title {
    padding-left: 100px;
  }

  .footer-newsletter input[type="submit"] {
    padding: 10px;
  }
  .hr {
    padding-top: 40px;
    margin-bottom: 40px;
  }

  .productintroSlider {
    width: 100%;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .productintroSlider
    span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #13294b;
  }
  .productintroSlider span.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border: 1px solid #13294b;
    background-color: transparent;
    opacity: 1;
    display: inline-block;
  }
  .productintroContent {
    margin-top: 30px;
  }
  .productintroSlider .swiper-wrapper {
    padding-bottom: 24px;
  }
  hr.prob,
  .product-buy {
    margin: 20px 0;
  }

  .made-in h6 {
    font-size: 12px;
  }
  .product-description .img-block {
    margin: 10px 0 40px;
  }
  .why-use .title-sect {
    padding: 40px 0;
    text-align: center;
    background-size: contain;
    background-position: center;
  }
  .review-header {
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .review-header h3 {
    margin-bottom: 15px;
  }

  .review-star {
    margin-top: 25px;
  }

  .review-star .start-rating {
    margin-bottom: 6px;
  }

  .review-star h2 {
    font-size: 50px;
    line-height: normal;
  }

  .review-star h6 {
    text-align: left;
    margin: 0;
  }

  li.review-li {
    padding-top: 25px;
    margin-top: 25px;
  }

  .reviewr-name {
    width: 100%;
    margin-bottom: 25px;
  }

  .reviewr-text {
    width: 100%;
  }

  .reviewr-text li {
    font-size: 12px;
  }

  .reviewr-text .start-rating {
    margin-bottom: 18px;
  }

  li.review-li:last-child {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .left-menu,
  .right-menu {
    width: calc(50% - 60px);
  }
  :root {
    --sizeH1: 30px;
    --sizeH2: 26px;
    --sizeH3: 23px;
    --sizeH4: 20px;
    --sizeH5: 17px;
    --sizeH6: 14px;
    --sizeP: 15px;
  }
  .home-section .btn {
    padding: 17px 22px;
  }

  .btn-group a {
    margin-right: 15px;
  }

  .home-slider p {
    margin-bottom: 17px;
  }

  .home-slider h1 {
    margin-bottom: 17px;
  }

  .btn-group {
    margin: 17px 0;
  }

  .brand-slider .swiper-slide {
    padding: 0 10px;
  }

  .bestseller-section .title-sect > div {
    width: 100%;
  }

  .bestseller-section .title-sect {
    text-align: left !important;
  }

  .bestseller-section .title-sect > div .text-btn {
    margin-top: 14px;
    display: inline-block;
  }

  .leftrigh-img img:first-child {
    aspect-ratio: 264/313;
    width: 80%;
  }

  .leftrigh-img img:last-child {
    aspect-ratio: 153/187;
    width: 50%;
    padding-right: 20px;
  }

  .leftrigh-section {
    overflow: hidden;
  }

  .leftrigh-section .title-sect:before {
    left: 0;
    top: -20%;
  }

  .leftrigh-section .title-sect h6 {
    margin-bottom: 30px;
  }

  .leftrigh-section .title-sect p {
    margin-top: 20px;
  }

  .leftrigh-section a.btn {
    margin-top: 30px;
  }

  .leftrigh-section .title-sect {
    padding: 50px 30px;
  }

  .review-text h6 {
    margin-top: 20px;
  }

  .review-opinion h4 {
    margin-top: 30px;
  }

  .title-sect h6 {
    margin-bottom: 15px;
  }

  .service-section .btn {
    margin-top: 0;
  }

  .collection-content {
    max-width: 270px;
  }

  .title-sect {
    margin-bottom: 30px;
  }

  .leftrigh-section .title-sect:after {
    max-width: 120px;
    right: -30px;
    top: -10px;
  }
  .text-btn {
    font-size: 13px;
  }

  .text-btn.text-primary:after {
    margin-left: 6px;
  }

  .bestseller-slider.swiper {
    padding-right: 90px;
  }
  .bestseller-slider.swiper .swiper-icons {
    width: calc(100% + 90px);
  }

  .bestseller-slider.swiper .swiper-icons {
    width: calc(100% + 90px);
  }

  .swiper-arrows {
    width: 100%;
    justify-content: space-between;
    padding: 0;
  }

  .swiper .swiper-scrollbar.swiper-scrollbar-horizontal {
    width: calc(100% - 120px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .swiper-icons {
    flex-wrap: wrap;
    position: relative;
  }

  .blog-slider.swiper {
    padding-right: 70px;
  }
  .blog-slider .swiper-wrapper .swiper-slide {
    height: auto;
  }
  .instagram-slider .swiper-slide:nth-child(2n + 2) {
    margin-top: 0;
  }
  .bestseller-content .btn {
    padding: 17px 15px;
  }
  .bestseller-content p {
    font-size: 13px;
  }

  .footer-newsletter {
    margin-top: 40px;
  }

  .footer-newsletter form {
    max-width: 100%;
  }

  .footer-newsletter input[type="submit"] {
    padding: 15px 30px;
  }

  .center-footer .footer-block {
    margin-bottom: 50px;
  }

  .bottom-footer {
    margin-top: 15px;
  }

  .bottom-footer ul {
    justify-content: left;
  }

  .bottom-footer p,
  .bottom-footer a {
    margin-top: 15px;
    display: block;
  }

  .footer-block h6 {
    font-size: 13px;
  }

  .center-footer .footer-block li {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .center-footer .footer-block ul {
    margin-top: 20px;
  }

  .health-box {
    margin-top: 20px;
    height: auto;
  }
}
